/* font */
@font-face {
	font-family: "해피니스산스R";
	src: url("../font/Happiness-Sans-Regular.woff") format("woff");
}

@font-face {
	font-family: "해피니스산스B";
	src: url("../font/Happiness-Sans-Bold.woff") format("woff");
}



/* all style */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "해피니스산스B", "sans-serif";
	color: #111f50;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
li {
	list-style: none;
}

img {
	vertical-align: top;
	border: none;
}



/* header style */
.logo {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 999;
	height: 30px;
}

.logo a {
	display: block;
	height: 100%;
}

.logo img {
	height: 100%;
}



/* title style */
.tit {
	position: fixed;
	right: 30px;
	bottom: 0;
	font-size: 9em;
	color: #fff;
	text-align: right;
	z-index: 999;
	cursor: default;
	animation: show 6s;
}

@keyframes show {
	0% {
		opacity: 0;
	}

	90% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}



/* nav style */
nav {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	z-index: 999;
	animation: slide 6s;
}

@keyframes slide {
	0% {
		left: -100%;
	}

	90% {
		left: -100%;
	}

	95% {
		left: 20px;
	}

	100% {
		left: 0;
	}
}

.menuBox {
	background: rgba(255, 255, 255, .6);
	padding: 30px 50px;
}

.menu {
	display: block;
	border-right: 2px solid #888;
	font-family: "해피니스산스R";
	color: #444;
}

.menu.on {
	border-color: #111f50;
	color: #111f50;
	font-family: "해피니스산스B";
}

.menu:hover {
	color: #111f50;
	font-family: "해피니스산스B";
}

.menu a {
	display: block;
	padding: 5px 0;
	width: 240px;
}


/* fullpage all style */
.fullpage {
	width: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-position: 90% 90%;
	background-attachment: fixed;
	overflow: hidden;
}

.secTit {
	position: absolute;
	top: 30%;
	/* transform: translateY(-50%); */
	left: 390px;
	font-size: 6em;
	line-height: 1.1;
	cursor: default;
}

.outline {
	display: block;
	-webkit-text-stroke: 1px #111f50;
	color: transparent;
	position: relative;
	left: 20px;
}

.light {
	color: #fff;
}

.light .outline {
	-webkit-text-stroke-color: #fff;
}



/* intro style */
#section0 {
	background: sandybrown;
}

video {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%);
	border: none;
}


/* background */
#section1 {
	background-image: url(../images/car_01.png);
	background-color: #e3e6e3;
}

#section2 {
	background-image: url(../images/car_02.png);
	background-color: #d7d7cb;
}

#section3 {
	background-image: url(../images/car_03.png);
	background-color: #282c2d;
}

#section4 {
	background-image: url(../images/car_04.png);
	background-color: #53564b;
}

#section5 {
	background-image: url(../images/car_05.png);
	background-color: #a32b1a;
}

#section6 {
	background-image: url(../images/car_06.png);
	background-color: #111f50;
}